@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1) { 
	.logo {
	margin-left: -12%;
	}
	.title-of {
	padding-left: 200px;
	}
	p {
	position: absolute;
	left: 210px;
	}
	.backbutton {
	padding-top: 70px;
	text-align: center;
	width: 225px;
    margin: 0 auto;
	padding-right: 580px;
	}
	.adam-name {
	margin-top: -20px;
	float: left;
	padding-left: 1%;
	padding-bottom: 10px;
	width: 210px;
	margin: 0 auto;
	}
	.Wallop-buttonPrevious, .Wallop-buttonNext {
	font-size: 10px;	
	width: 50px;
	left: 440px;
	height: 40px;	
	text-align: center;		
	}
	
	.navtabs {
	float: left;
	
	width: 210px;
	margin: 0 auto;
	}
	.Wallop-item > img {
	left: 100px;
	}
	.Wallop-item > img {
	height: 90%;
	width: 100%;
	display: block;
    margin: 0 auto;	
	}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1)  { 
	.logo {
	margin-left: -160%;
	}
	.adam-name {
	margin-top: -20px;
	float: left;
	
	padding-bottom: 10px;
	width: 20px;
	margin-left: -300px;
	}
	.title-of {
	padding-left: 80px;
	}
	p {
	position: absolute;
	left: 140px;
	}
	.backbutton {
	padding-top: 70px;
	text-align: center;
	width: 225px;
    margin: 0 auto;
	padding-right: 480px;
	}
	
	.Wallop-buttonPrevious, .Wallop-buttonNext {
	font-size: 10px;	
	width: 50px;
	left: 300px;
	height: 40px;	
	text-align: center;		
	}
	
	.navtabs {
	float: left;
	
	width: 210px;
	margin: 0 auto;
	}
	.Wallop-item > img {
	left: 100px;
	}
	.Wallop-item > img {
	height: 90%;
	width: 100%;
	display: block;
    margin: 0 auto;	
	}
}
@media only screen and (max-width: 768px) {
    
	.backbutton {
	padding-left: 45px;
	text-align: left;
	width: 295px;
    margin: 0 auto;
	}
	.responsive {
	margin: 0 auto;
	width: 210px;
	}
	.adam-name {
	margin-top: -20px;
	padding-left: 21%;
	padding-bottom: 10px;
	width: auto;text-align: center;	
	}
	
	.navtabs {
	text-align: left;
	width: 100px;margin-left: 30%;margin-right: 30%;	
    margin: 0 auto;
	}
	
	.Wallop-item > img {
	height: 90%;
	width: 90%;
	display: block;
    margin: 0 auto;	
	}
	.Container {
	width: 108%;
	}
	.title-of {
	text-align: center;
	}
	h4 {
	font-size: 14px;
	width: 200px;
	text-align: left;
	padding-left: 10%;
	}
	h2 {
	font-size: 16px;
	text-align: left;
	padding-left: 10%;
	}
	.nav_arrows {
	width: 200px;
	}
	.Wallop-buttonPrevious, .Wallop-buttonNext  {
	font-size: 10px;	
	width: 50px;
	left: 420px;
	height: 40px;	
	text-align: center;		
	}
	p {
	text-align: center;
	}		
}