body {
background-image: url("header.PNG");
background-repeat: repeat-x;
font-family: 'Open Sans', sans-serif;
}
h3 {
font-weight: 800;
font-size: 22px;
letter-spacing: 1px;
}
.navtabs>.nav>li>a {
  padding: 8px 14px;
}
h4 {
font-size: 12px;
}
h4, h2 {
padding-left: 15px;
}
p {padding-left: 20px; padding-top: 25px;}
.Wallop-item > h5 {
padding-bottom: 4px;
}

.backbutton{
  padding: 8px 14px;
}

li {
    list-style-position:inside;
   
	text-align: left;
	font-family: Impact;
	font-size: 12px;
	height: 35px;
	width: 120px;
	color: black;
	margin-bottom: 10px;
	padding: 5px;
	
}
.nav_arrows>ul>li > a:hover{
border-radius: 15px;
}
.nav_arrows>ul>li>.active{
border-radius: 15px;
}
.active {
border-radius: 20px;
border: 1px solid black;
font-weight: bold;
}
li > a {
color: black;
font-family: 'Open Sans', sans-serif;
font-weight: 400;

}
li > a:hover {
border-radius: 20px;
border: 1px solid black;
background-color: #CCFFCC !important;
color: black;
}


}

.large-img {
border: solid transparent;
border-radius: 25px;
}
.text-pic{
padding-left: 10px;
}
h2 {
font-size: 18px;
font-weight: 800;
}
h4 {
font-size: 14px;
font-weight: lighter;
color: gray;
}
img {
height: 45%; 
width: 55%;
border-radius: 20px;
}
.Wallop-buttonPrevious a:hover, .Wallop-buttonNext a:hover {
border: 1px solid black;
background-color: #AFEEEE !important;
color: black;
}
.Wallop-buttonPrevious {
margin-top: -1px;
}
.Wallop-item > h5 {
padding-left: 500px;
}
