body {
background-image: url("header.PNG");
background-repeat: repeat-x;
font-family: 'Open Sans', sans-serif;
}
h3 {
font-weight: 800;
font-size: 25px;
}
li {
    list-style-position:inside;
   
	text-align: left;
	font-family: Impact;
	
	height: 35px;
	width: 120px;
	color: black;
	margin-bottom: 10px;
	padding: 5px;
	
}
.active {
border-radius: 15px;
border: 1px solid black;
}
li > a {
color: black;
font-family: 'Open Sans', sans-serif;
font-weight: 600;

}
li > a:hover {
border-radius: 15px;
border: 1px solid black;
background-color: #AFEEEE !important;
color: black;
}


}
@media only screen and (max-width: 500px) {
   
}
.large-img {
border: solid transparent;
border-radius: 25px;
}
.text-pic{
padding-left: 10px;
}
h2 {
font-size: 18px;
font-weight: 800;
}
h4 {
font-weight: lighter;
font-size: 18px; 
color: black;
}
h5 {
color: gray;
}
img {
height: 45%; 
width: 55%;
border-radius: 20px;
}